.none {
    border-style: none;
}
.dotted {
    border-style: dotted;
}
.dashed {
    border-style: dashed;
}
.solid {
    border-style: solid;
}
.double {
    border-style: double;
}
.groove {
    border-style: groove;
}
.ridge {
    border-style: ridge;
}
.inset {
    border-style: inset;
}
.outset {
    border-style: outset;
}