.border {
    border-style: solid;
    /* border-top-width: 1px;
    border-right-width: 3px;
    border-bottom-width: 10px;
    border-left-width: 25px; */
    border-width: 1px 3px 10px 25px;
    border-color: #1958b7;
}